@{
    ViewBag.Title = "RELATÓRIO DE PESAGEM - PIONEIRA";
}
<h2>CONTATO</h2>
<h3>ti@pioneira.com.br</h3>

<address>
    Rua Marechal Rondon, 55<br />
    Suzano - SP<br />
    Cep: 08674-280 
    Tel.: 55 11 4748-2922
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:ti@pioneira.com.br">ti@pioneira.com.br</a><br />    
</address>